body{
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

body.agitado{
  background-color: #000000;
}

div.lectura{
  display: block;
  background-color: #000000;
  color: #000000;
  border: none;
  width: 50%;
  padding: 30px;
  font-size: 3em;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}